html {
  background-color: Black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
}
header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: Black;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid SeaShell;
}
header img {
  height: 50px;
  padding-left: 10px;
}
header h1 {
  display: inline-flex;
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  justify-content: space-between;
  text-decoration: underline;
  width: 400px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#background-pic {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 700px;
}
#background-pic div {
  display: flex;
  flex-direction: column;
  background-color: Black;
  width: 1200px;
  align-items: center;
  margin: 0px auto;
}
.tea-flex > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.month-tea {
  padding-bottom: 10px;
  padding-right: 30px;
  width: 300px;
  height: 200px;
}
#month-tea {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}
#month-tea p {
  text-align: center;
}
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
}
.location-container {
  display: inline-block;
  width: 300px;
  text-align: center;
  background-color: Black;
  opacity: 1;
}
.tea-cozy-locations {
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.location h2 {
  margin: 15px 10px;
  text-align: center;
}
.contact {
  display: block;
  text-align: center;
  height: 200px;
}
footer {
  padding-left: 20px;
  text-align: left;
}
